.container_wallet {
  border: solid 2px purple;
  display: flex;
  height: 99%;
  left: 0;
  position: absolute;
  top: 0;
  width: 99.7%;
}

/* align-items: center; */

/* justify-content: center; */
