.box_form {
  align-items: center;
  background: rgba(238, 236, 236, 0.945);
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(238, 236, 236, 0.9);
  display: flex;
  flex-flow: row nowrap;
  height: 15%;
  justify-content: space-around;
  margin-top: -1.5%;
  text-align: center;
  width: 95%;
}

input , select {
  border: 0.5px solid #e2e3e400;
  border-radius: 7px;
  box-shadow: 0 0 26px rgba(59, 59, 59, 0.8);
  color: #003be5;
  font-size: 14px;
  margin: 8px;
}

.btnSave {
  background: rgba(0, 57, 230, 0.5);
  border-radius: 100px;
  box-shadow: 0 0 26px rgba(24, 24, 75, 0.8);
  color: white;
  height: 30px;
  letter-spacing: 0.03em;
  line-height: 14px;
  margin: 29px;
  padding-left: 7px;
  text-align: center;
  transition-duration: 0.4s;
  width: 12%;
}

.btnSave:hover {
  background-color: rgba(200, 0, 0, 0.5);
}

.btnSave:disabled {
  background-color: rgba(31, 30, 30, 0.5);
}
