.container_wallet {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 99%;
  left: 0;
  position: absolute;
  top: 0;
  width: 99.4%;
}

/* align-items: center; */

/* justify-content: center; */
